.footer {
  
  .legal-footer { 
    text-align: center;
    flex-direction: column;
    padding: 0.625rem;
    width: fit-content;
    p {
      padding: 0.625rem;
      width: fit-content;
      font-size: 0.625rem;
      margin: auto;
    }
    margin: auto;
  }
  .footer-info {
    color: rgb(145, 141, 155);

    flex-direction: column;
  }
  .footer-links {

    @include breakpoint-down(small) {
      flex-direction: column;
    
    }
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    .link {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      padding-left: 6.25rem;
      padding-right: 6.25rem;
     
    }
  }
  background-color: rgba(15, 16, 22, 0.897);
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: $white;
  .icons-info {
    font-size: 0.625rem;
    & > .link,
    & > link:visited {
      // text-decoration: underline;
      display: inline;
      color: $white;
      padding: 0;
      text-align: center;
      &:hover {
        color: $lightBlue;
      }
      
    }
  }
  .link,
  link:visited {
    display: block;
    padding: 0.625rem;
    color: $white;
    text-align: center;
    &:hover {
      color: $lightBlue;
    }
  }
}
