@import "mixins";
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", sans-serif;
  color: $grayishBlue;
  line-height: 1.3;
  font-weight: 300;
}

.scrollToTopArrow {
  position: fixed;
  right: 15vw;
  z-index: 100;
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 0.438rem;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  opacity: 0.5;
}
  #firstScrollArrow {
  bottom: 5rem;
}
  #secondScrollArrow {
  bottom: 6rem;
}
  #thirdScrollArrow {
  bottom: 7rem;
}

.link,
.link:visited {
  text-decoration: none;
  color: $mainBlue;
  &:hover {
    color: $lightBlue;
  }
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.more-info-icon {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
  margin-left: 20px;
  &:hover {
    transform: scale(1.2);
  }
}

.search {
  input {
    width: 9rem;
  }
}

.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-sa {
    justify-content: space-around;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
  &-fw-w {
    flex-wrap: wrap;
  }
  &-column-c {
    flex-direction: column;
    align-items: center;
  }
}

.align-self {
  align-self: flex-end;
}

.status-btn {
  padding: 10px;
  font-size: 10px;
  border-radius: 10px;
  background-color: rgba(41, 87, 212, 0.699);
  cursor: pointer;
  border: 0;
  color: $white;
  text-transform: uppercase;
  font-weight: 900;
}

.status-btn:hover {
  background-color: rgb(21, 48, 124);
}
.more-info-btn {
  padding: 10px;
  border-radius: 10px;
  font-size: 10px;
  background-color: rgba(41, 87, 212, 0.699);
  cursor: pointer;
  border: 0;
  color: $white;
  text-transform: uppercase;
  font-weight: 900;
}
.more-info-btn:hover {
  background-color: rgb(21, 48, 124);
}

.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none;
  }
}
