html {
  font-size: 100%;
  box-sizing: border-box;

}

*, *::before, *::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}
body {
  margin: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif; 
  line-height: 1.3;
}