@import "mixins";
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 ;
  font-family: "Public Sans", sans-serif;
  color: $grayishBack;
  line-height: 1.3;
  font-weight: 300;
  font-size: $font-med;
}

.link,
.link:visited {
  text-decoration: none;
  color:$mainBlue;
  &:hover {
    color:$lightBlue;
  }
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.more-info-icon {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
  margin-left: 20px;
  &:hover {
    transform: scale(1.2);
  }
}

.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-sa {
    justify-content: space-around;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
  &-fw-w {
    flex-wrap: wrap;
  }
}

.align-self {
  align-self: flex-end;
}


.status-btn {
  padding: 10px 18px;
  border-radius: 30px;
  background-color: rgba(70, 170, 70, 0.705);
  cursor: pointer;
  border: 0;
  color: $white;
  text-transform: uppercase;
  font-weight: 900;
}
.status-btn:hover {
  background-color: rgba(33, 95, 33, 0.842);

}

.more-info-btn {
  padding: 10px 18px;
  border-radius: 30px;
  background-color: rgba(41, 87, 212, 0.699);
  cursor: pointer;
  border: 0;
  color: $white;
  text-transform: uppercase;
  font-weight: 900;
}

.more-info-btn:hover {

  background-color: rgb(21, 48, 124);
  
}

.hide-for-mobile {
  //hide for tablet and movile devices
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none;
    
  }
  //hide for desktop viewport widht
}
