.header {
  nav {
    padding: 1.0625rem 1.5rem;
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }
  &__menu {
    // mobile menu
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
  &__links {
    .link {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 200ms ease-in-out;

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1.5px;
        left: 0;
        right: 0;
        bottom:  -10px;
        background: $grayishBlue;
        opacity: 0;
      }

      &:not(:last-child) {
        margin-right: 32px;
      }

      &:hover {
        color: $darkBlue; 
        &::after {
          opacity: 0.4;
        }
      }
    }
  }
  &__cta {
    font-size: $font-sm;
    color: $white;
  }
}
