.header {
  nav {
    padding: 1.0625rem 1.5rem;
  }
  &.open {
    // .overlay {
    //   display: block;
    //   animation: fade-in 500ms ease-in-out forwards;
    // }
    .header__menu {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 3.75rem;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient($darkBlue, transparent);
  
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }
  &__menu {
    // mobile menu
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    // &.open {
    //    > span:first-child {
    //     transform: rotate(45deg);

    //    }
    //    > span:nth-child(2) {
    //     opacity: 0;
    //   }
    //    > span:last-child {
    //     transform: rotate(-45deg);
    //    }
    // }
  }
  &__links {
    .link {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 200ms ease-in-out;

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1.5px;
        left: 0;
        right: 0;
        bottom: -10px;
        background: $grayishBlue;
        opacity: 0;
      }

      &:not(:last-child) {
        margin-right: 32px;
      }

      &:hover {
        color: $darkBlue;
        &::after {
          opacity: 0.4;
        }
      }
    }
  }
  &__cta {
    font-size: $font-sm;
    color: $white;
  }
}
