.header {
  position: relative;
  z-index: 1;  
  nav {
    position: relative;
    background-color: $white;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
  }
  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  &__menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    border-radius: 3px;
    padding: 1.625rem;
    margin-top: 1.5rem;
    .link, link:visited {
      display: block;
      padding: 0.625rem;
      color: $grayishBlue;
      text-align: center;
      &:hover {
        color: $darkBlue;
      }
    }

  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient($darkBlue, transparent);
  
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }
  &__toggle {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

  }
  &__links {
    .link {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 200ms ease-in-out;

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1.5px;
        left: 0;
        right: 0;
        bottom: -10px;
        background: $grayishBlue;
        opacity: 0;
      }

      &:not(:last-child) {
        margin-right: 32px;
      }

      &:hover {
        color: $darkBlue;
        &::after {
          opacity: 0.4;
        }
      }
    }
  }
  &__cta {
    font-size: $font-sm;
    color: $white;
  }
}
