.header {
  z-index: 1;

  position: relative;
  // z-index: 1;
  @include breakpoint-down(small) {
    display: flex;
    border-style: none;
  }

  nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1.5rem 1.5rem;
    
  }
  &.open {

    .toggle_background {
      flex-direction: flex;
      justify-content: center;
      align-self: center;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 5px;
      background-color: $white;
    }
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  &__menu {
    position: absolute;

    width: calc(100% - 3rem);
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    background: $white;
    border-radius: 3px;
    padding: 1.625rem;
    margin-top: 1.5rem;
    .link,
    link:visited {
      display: block;
      padding: 0.625rem;
      color: $mainBlue;
      text-align: center;
      &:hover {
        color: $lightBlue;
      }
    }
  }
  .overlay {
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient($darkBlue, transparent);
  }
  #logo {
    font-size: 1.875rem;  
    color: $mainBlue;
    padding-bottom: 35px;
  }
  #logo-and-search {
    @include breakpoint-down(small) {
      display: flex;
      flex-direction: column;
    }
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
  }
  #logo_link {
    text-decoration: none;
  }
  &__toggle {

    > span {
      display: block;
      width: 26px;
      align-self: stretch;
      height: 2px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  &__links {
    .link {
      position: relative;
      font-size: $font-med;
      color: $mainBlue;
      transition: color 200ms ease-in-out;
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1.5px;
        left: 0;
        right: 0;
        bottom: -10px;
        background: $grayishBlue;
        opacity: 0;
      }

      &:not(:last-child) {
        margin-right: 32px;
      }

      &:hover {
        color: $lightBlue;
        &::after {
          opacity: 0.4;
        }
      }
    }
  }
}
