.home {
  width: 56.25rem;
  .topics {
    flex: 0 0 40%;
    // gap: 5px;
    .box-topic {
      background-color: aliceblue;
      // padding: 30px;
      flex: 0 1 50%;
      margin-bottom: 50px;
      margin-right: 0;
      .topic-image {
        width: 100%;
      }
    }
  }

  .organizations {
    display: flex;
    flex-direction: column;
    // margin-left: 6.25rem;
    // width: 25rem;

    & > div {
      // width:450px;
      // padding: 60px;
      background-color: rgba(236, 236, 255, 0.76);
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      // width: fit-content;

      img {
        width: 100%;
      }

      #hague-logo {
        width: 200px;
      }
      #un-logo {
        width: 180px;
      }
      #unidroit-logo {
        width: 290px;
      }
      #icao-logo {
        width: 200px;
      }

      #wipo-logo {
        width: 210px;
      }
     
      
    }
  
  }
}
