.home {
  width: 900px;
  .topics {
    width: 800px;
    flex: 0 0 40%;
    gap: 5px;
    .box-topic {
      flex: 0 1 33%;
      margin-bottom: 50px;
      margin-right: 0;
      .topic-image {
        width: 50px;
      }
    }
  }

  .organizations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    width: 400px;
    div {
      display: flex;
      flex-direction: row;
    
      margin-bottom: 80px;
    }
    .big-logos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      img {
        width: 60%;
      }
    }
    img {
      width: 80%;
    }
    
  }
}
