.home {
  width: 56.25rem;
  .topics {
    width: 800px;
    flex: 0 0 40%;
    gap: 5px;
    .box-topic {
      flex: 0 1 33%;
      margin-bottom: 50px;
      margin-right: 0;
      .topic-image {
        width: 50px;
      }
    }
  }

  .organizations {
    display: flex;
    flex-direction: column;
    margin-left: 6.25rem;
    width: 25rem;
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      .organization-title {
        width: 50%;
      }
      .logo-image {
        margin-left: 3rem;
      }
    }
    .big-logos {
      #un-logo {
        align-self: center;
        margin-left: 3rem;
      }
      display: flex;
      justify-content: center;
      img {
        width: 60%;
      }
    }
    img {
      width: 80%;
    }
  }
}
