@include breakpoint-down(small) {
  // .home {
  //   flex-direction: column-reverse;
  //   border-style: none;
  // }

  .organizations {
    // border: none !important;
    // padding-left: 0px !important;
    // margin: 50px;
    // background-color: rgb(238, 205, 156);
  }
}
.home {
  @include breakpoint-down(small) {
    flex-direction: column-reverse;
    border-style: none;
  }
  img {
    width: 100%;
  }
  .topics {
    padding-right: 50px;
    align-items: center;
    .box-topic {
      @include breakpoint-down(small) {
        flex-basis: 50%;
      }
      .topic-image-container {
        width: 40px;
        margin: auto;
      }
      flex-basis: 33%;
      margin-bottom: 50px;
      .topic-image {
        width: 100%;
      }
    }
  }

  .organizations {
    @include breakpoint-down(small) {
      border: none;
      padding-left: 0px;
    }
    border-left: 1px solid #ccc;
    justify-content: center;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    & > div {
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      & > div {
        margin: auto;
      }
      #hague-logo {
        width: 200px;
      }
      #un-logo {
        width: 130px;
      }
      #unidroit-logo {
        width: 230px;
      }
      #icao-logo {
        width: 140px;
      }

      #wipo-logo {
        width: 160px;
      }
    }
  }
}
