.main-section {
  .context-info {
    font-style: italic;
  
  }
  .search-results {
    text-align: justify;
  }
  .search-list-item {
    margin-bottom: 0.438rem;

  }
  .header-and-table {
    header {
      max-width: fit-content;
    }
  }

  margin-top: 30px;
  padding-bottom: 5rem;
  
  .organizations-topics {
    padding-top: 4rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: fit-content;
  }
  header {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  p {
    .status-info {
      font-style: italic;
      margin-right: 0.625rem;
    }
    .not-in-force {
      font-weight: bold;
    }
  }
  table {
    border-radius: 20px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px $grayishBlue;
    background-color: white;
    text-align: left;
    overflow: hidden;
    thead {
      box-shadow: 0 5px 10px $grayishBlue;
    }
    th {
      padding: 1rem 2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 0.7rem;
      font-weight: 900;
			p {
				max-width: fit-content;
			}
    }
    td {
      padding: 1rem 2rem;

    }
  }

  .th-mobile {
    display: none;
  }
  @include breakpoint-down(small) {
   
    .th-mobile {
      opacity: 0.6;
      font-style: italic;
      display: unset;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }


    

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  }
}
