.main-section {
  
  table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px $grayishBlue;
    background-color: white;
    text-align: left;
    overflow: hidden;
    thead {
      box-shadow: 0 5px 10px $grayishBlue;
    }
    th {
      padding: 1rem 2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 0.7rem;
      font-weight: 900;
    }
    td {
      padding: 1rem 2rem;
    }
   
  }


}