.main-section {
  margin-top: 150px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: fit-content;
  }
 
  p {
    max-width: 18.75rem;
  }

  table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px $grayishBlue;
    background-color: white;
    text-align: left;
    overflow: hidden;
    thead {
      box-shadow: 0 5px 10px $grayishBlue;
    }
    th {
      padding: 1rem 2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 0.7rem;
      font-weight: 900;
			p {
				max-width: fit-content;
			}
    }
    td {
      padding: 1rem 2rem;

    }
  }

  .th-mobile {
    display: none;
  }
  @include breakpoint-down(small) {

    .th-mobile {
      opacity: 0.6;
      font-style: italic;
      display: unset;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  }
}
