.hide-for-menu {
  z-index: 2;
}

.search-and-warning {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
}

#warning {
  background-color: red;
  border-style: solid;
  // width: auto;
  padding: 10px;
  border-radius: 10px;
  color: $white;
  max-width: 11.875rem;
  position: absolute;

}


.search {
  width: auto;
  max-width: 11.875rem;
  position: relative;
  display: flex;
  input:focus::placeholder {
    color: transparent;
  }
  #search-input {
    
    width: 100%;
    border: 3px solid $mainBlue;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
  }

  #search-button {
    width: auto;
    min-height: 40px;
    border: 1px solid $mainBlue;
    background: $mainBlue;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
}
