.search {
  width: 100%;
  position: relative;
  display: flex;
  input:focus::placeholder {
    color: transparent;
  }
  #search-input {
    width: 100%;
    border: 3px solid $mainBlue;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;

  }

  #search-button {
    width: 40px;
    height: 36px;
    border: 1px solid $mainBlue;
    background: $mainBlue;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
}
