$darkBlue: hsl(233, 26%, 24%);
$mainBlue: #00356b;
$lightBlue: rgb(47, 111, 196);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$grayishBack: hsl(240, 3%, 12%);
$lightGrayshBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$font-sm: 0.9rem; 
$font-med: 1.375rem;

