@import "variables";
@import "globals";
@import "mixins";
@import "header";
@import "animations";
@import "main"

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
